body {
  font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

#formulario-compra {
  width: 50%;
  margin: 20px auto;
}

#formulario-compra ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#formulario-compra li {
  margin-bottom: 20px;
}

.agregar-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.agregar-btn:hover {
  background-color: #3e8e41;
}

#carrito {
  width: 50%;
  margin: 20px auto;
}

#carrito table {
  border-collapse: collapse;
  width: 100%;
}

#carrito th, #carrito td {
  border: 1px solid #f30f0f;
  padding: 10px;
  text-align: left;
}

#carrito th {
  background-color: #f0f0f0;
}

.finalizar-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.finalizar-btn:hover {
  background-color: #11a816;
  
}
